<div
  class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50"
>
  <div class="bg-white p-6 rounded shadow-md w-96">
    <h3 class="text-xl font-bold mb-4">Dummy Payment</h3>

    <form [formGroup]="paymentForm" (ngSubmit)="submitPayment()">
      <div class="mb-4">
        <label class="block font-medium mb-1">Card Number</label>
        <input
          formControlName="cardNumber"
          type="text"
          class="w-full border p-2 rounded"
          placeholder="1234 5678 9012 3456"
        />
      </div>

      <div class="mb-4">
        <label class="block font-medium mb-1">CVV</label>
        <input
          formControlName="cvv"
          type="password"
          class="w-full border p-2 rounded"
          placeholder="123"
        />
      </div>

      <div class="mb-4">
        <label class="block font-medium mb-1">Amount</label>
        <!-- <input
          formControlName="amount"
          type="number"
          class="w-full border p-2 rounded"
          placeholder="Enter amount"
        /> -->

        <div class="mb-4">
          <label class="block font-medium mb-1">Amount</label>
          <p class="p-2 border rounded bg-gray-100">
            {{ amount | currency : "INR" }}
          </p>
        </div>
      </div>

      <div class="flex justify-between">
        <button
          type="submit"
          class="bg-green-600 text-white px-4 py-2 rounded hover:bg-green-700"
        >
          Pay
        </button>
        <button
          type="button"
          (click)="cancelPayment()"
          class="bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600"
        >
          Cancel
        </button>
      </div>
    </form>
  </div>
</div>
